<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Learn_3rd"></activity>
        <activity android:name=".Review_4th" />
        <activity android:name=".Review_3rd" />
        <activity android:name=".Review_2nd" />
        <activity android:name=".Learn_4th" />
        <activity android:name=".search_clicked" />
        <activity android:name=".wrong_answer" />
        <activity android:name=".Review_chapter" />
        <activity android:name=".Learn_2nd" />
        <activity android:name=".Congratulations" />
        <activity android:name=".chapter1clicked" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_review_clicked" />
        <activity android:name=".learn_clicked" />
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>